@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #2F2C39;
}

/* headings and logo*/

h1, h2 {
    font-family: Roboto Slab, serif;
    letter-spacing: 2px;
    color: #2F2C39;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
}

#menu, #logo {
    line-height: 75px;
}

#menu li { 
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #fcf4eb;
    padding: 4px;
    
}

.active {
    background-color: #fcf4eb;
    padding: 4px;
}

/* hero image and text*/

#hero {
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-zero-waste-design.jpg) no-repeat center center;
}

#cover-text, #cover-text h2 {
    color: #fcf4eb;
}

#cover-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: center;
    width: 620px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(47, 44, 57, .8);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* main section*/

#material-info {
    height: 900px; 
}

#left-image {
    width: 50%;
    height: 450px;
    float: left;
    background-color: #fcf4eb;
}

#right-text {
    width: 50%;
    height: 450px;
    float: right;
    background-color: #fcf4eb;
}

#right-image {
    width: 50%;
    height: 450px;
    float: right;
    background-color: #2F2C39;
}

#left-text {
    width: 50%;
    height: 450px;
    float: left;
    background-color: #2F2C39;
}

#linen-right-text h2 {
    color: #2F2C39;
}

#linen-right-text {
    color: #2F2C39;
    margin: 60px;
}

#wool-left-text h2 {
    color: #fcf4eb;
}

#wool-left-text {
    color: #fcf4eb;
    margin: 60px;
}

.image-container {
    height: 450px;
    width: 450px;
}

#linen-left-image {
    background: url(../images/zero-waste-design-linen-bag450.jpg) no-repeat;
    height: 100%;
}

#wool-right-image {
    background: url(../images/zero-waste-design-wool-cushion-cover450.jpg) no-repeat;
    height: 100%
}

/* Workshop button*/

#workshop-button {
    width: 100%;
    height: 200px;
    background-color: #fcf4eb;
}

#workshop-text h3 {
    padding-top: 20px;
    text-align: center;
}

#button-position {
    text-align: center;
}

.button {
    color: #fcf4eb;
    background-color: #2F2C39;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 50px;
    display: inline-block;
}

