@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #262329;
}

/* headings and logo*/

h1, h2 {
    font-family: Roboto Slab, serif;
    letter-spacing: 2px;
    color: #262329;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
    text-decoration: none;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
}

#menu, #logo {
    line-height: 75px;
}

#menu li { 
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: rgba(156, 106, 82, .4);
    padding: 4px;
    
}

.active {
    background-color: #fcf4eb;
    padding: 4px;
}

/* hero image and text*/

#hero {
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-zero-waste-design.jpg) no-repeat center center;
}

#cover-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: center;
    width: 620px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(252, 244, 235, .6);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* main section*/

#material-info-image {
    height: 500px; 
    margin-top: 60px;
}

.image-container {
    height: 450px;
    margin: 0 100px;
}

#left-image {
    width: 50%;
    height: 450px;
    float: left;
}

#right-image {
    width: 50%;
    height: 450px;
    float: right;
}

#linen-left-image {
    background: url(../images/zero-waste-design-linen-bag450.jpg) no-repeat;
    height: 100%;
    width: 450px;
}

#wool-right-image {
    background: url(../images/zero-waste-design-wool-cushion-cover450.jpg) no-repeat;
    height: 100%
}

#material-info-text {
    height: 450px; 
    margin-top: 60px;
}

#left-text {
    width: 45%;
    height: 450px;
    float: left;
    margin-left: 100px;
}

#right-text {
    width: 45%;
    height: 450px;
    float: right;
}

#linen-left-text {
   width: 50%;
}

#wool-right-text {
    width: 50%;
}

/* Workshop button

#workshop-button {
    width: 100%;
    height: 200px;
}

#workshop-text h3 {
    padding-top: 50px;
    text-align: center;
}

#button-position {
    text-align: center;
}

.button {
    color: #fcf4eb;
    background-color: #9C6A52;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 50px;
    display: inline-block;
}*/

/* footer*/

footer {
    height: 300px;
    background-color: #21130F;
}

.social-icons {
    text-align: center;
}
 .social-icons > li {
    display: inline;
 }

 .social-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #9C6A52;
 }

 /* portfolio*/

 #portfolio {
 column-count: 3;
 line-height: 0;
 column-gap: 0;
}

 #portfolio > img {
   width: 100%;
 }

 /* Workshop page*/

 #workshop-image {
    height: 500px;
    width: 100%;
    background: url(../images/zero-waste-design-workshops1.jpg) no-repeat center center;
    background-color: #fcf4eb;
 }

 #workshop-heading h1 {
    background-color: #fcf4eb;
    text-align: center;
    font-size: 200%;
 }

 #workshop-dates {
    background-color: #fcf4eb;
    height: 190px;
 }

 #workshop-dates div {
    width: 25%;
    height: 200px;
    float: left;
    text-align: center;
    padding: 20px 0px;
 }

 /* form*/

 #form-section {
    background-color: #fcf4eb;
    height: 500px;
 }

 .signup-form {
    background-color: #9C6A52;
    max-width: 500px;
    position: absolute;
    left: 30%;
    padding: 40px;
 }

 .signup-form > h2 {
    color: #fcf4eb;
    margin-bottom: 20px;
 }

 .text-input {
    background-color: #fcf4eb;
    color: #262329;
    width: 100%;
    height: 25px;
    margin: 5px 0 10px;
 }

 .submit-button {
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #fcf4eb;
    color:#262329;
    display: block;
 }

 .submit-button:hover {
    background-color: #262329;
    color: #fcf4eb;
 }


 /* media queries */

 @media screen and (max-width: 1300px) {
    #material-info-image {
        width: 65%;
        height: 1000px;
        margin: 0 auto;
    }

    #material-info-text {
        width: 65%;
        height: 600px;
        margin: 0 auto;
    }

    #left-text, #right-text {
        width: 100%;
        float: left;
        height: 300px;
        padding: 0;
        margin-left: 100px;
    }

    #left-image, #right-image {
        width: 100%;
        float: left;
        padding: 0;
        margin: 10px 0;
    }
 }


 @media screen and (max-width: 950px) {
    #menu {
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
    }

    #logo {
        float: none;
        font-size: 200%;
    }

    .image-container {
        margin: 0 auto;
    }


    #material-info-image {
        width: 90%;
        height: 1000px;
        margin: 0 auto;

    }

    #material-info-text {
        width: 90%;
        height: 600px;
        margin: 0 auto;
    }



     .signup-form {
        position: relative;
        left: 20%;
        padding: 40px;
     }

     footer {
        height: 100px;
     }

}   

@media screen and (max-width: 760px) {

    #cover-text {
        font-size: 100%;
        letter-spacing: 1px;
        width: 90%;
        height: 150px;
        padding-top: 20px;
        left: 5px;
    }
    
    .image-container {
        margin: 0 auto;
    }

    #linen-left-image {
        width: 100%;
    }

    #material-info-image {
            width: 90%;
            height: 1000px;
            margin: 0 auto;
        }
    
        #material-info-text {
            width: 90%;
            height: 600px;
            margin: 0 auto;
        }

        #left-text {
            height: 300Px;
            margin: 0 auto;
        }
        
        #right-text {
            height: 300px;
            margin: 0 auto;
        }

        #linen-left-text {
            width: 100%;
         }
         
         #wool-right-text {
             width: 100%;
         }


         #workshop-dates {
            height: 600px;
         }

         #workshop-dates div {
            width: 100%;
            height: auto;
            float: none;
         }

         #portfolio {
            column-count: 2;

         .signup-form {
            position: relative;
            left: 0px;
            padding: 40px;
         }

         footer {
            height: 100px;
         }


}


        

    
