@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #2F2C39;
}

/* headings and logo*/

h1, h2 {
    font-family: Roboto Slab, serif;
    letter-spacing: 2px;
    color: #2F2C39;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
}

#menu, #logo {
    line-height: 75px;
}

#menu li { 
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #fcf4eb;
    padding: 4px;
    
}

.active {
    background-color: #fcf4eb;
    padding: 4px;
}

/* hero image and text*/

#hero {
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-zero-waste-design.jpg) no-repeat center center;
}

#cover-text, #cover-text h2 {
    color: #fcf4eb;
}

#cover-text {
    font-size: 130%;
    letter-spacing: 2px;
    text-align: center;
    width: 400px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(47, 44, 57, .8);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* main section*/

#intro-text {
    text-align: center;
    padding-top: 30px;
}

#material-info {
    height: 600px; /*might have to change depending on best image height*/
}

#left-image {
    padding-top: 20px;
    width: 50%;
    float: left;
}

#right-text {
    padding-top: 20px;
    width: 50%;
    float: right;
    background-color: #2F2C39;
}

#right-image {
    padding-top: 20px;
    width: 50%;
    float: right;
}

#left-text {
    padding-top: 20px;
    width: 50%;
    float: left;
    background-color: #fcf4eb;
}

#linen-right-text h2 {
    color:#fcf4eb;
}

#linen-right-text {
    color:#fcf4eb;
    margin: 20px;
}

#wool-left-text {
    margin: 20px;
}