@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #2F2C39;
}

/* headings and logo*/

h1, h2 {
    font-family: Roboto Slab, serif;
    letter-spacing: 2px;
    color: #2F2C39;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
}

#menu, #logo {
    line-height: 75px;
}

#menu li { 
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #fcf4eb;
    padding: 4px;
}